<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartHous"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Vatiska"
            android:exported="false" />
        <activity
            android:name=".Ventilator"
            android:exported="false" />
        <activity
            android:name=".Temperatura"
            android:exported="false" />
        <activity
            android:name=".Kondicioner"
            android:exported="false" />
        <activity
            android:name=".Svet"
            android:exported="false" />
        <activity
            android:name=".AddYstroistv"
            android:exported="false" />
        <activity
            android:name=".test.AcranYstroistv"
            android:exported="false" />
        <activity
            android:name=".Profil"
            android:exported="false" />
        <activity
            android:name=".AddRoom"
            android:exported="false" />
        <activity
            android:name=".HomeAcran"
            android:exported="false" />
        <activity
            android:name=".AddAddress"
            android:exported="false" />
        <activity
            android:name=".AkranVxoda"
            android:exported="false" />
        <activity
            android:name=".CreatPinkod"
            android:exported="false" />
        <activity
            android:name=".Rigistraishan"
            android:exported="false" />
        <activity
            android:name=".Avtorizashin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>